 @import url('https://fonts.cdnfonts.com/css/segoe-ui-4');


 * {
     margin: 0;
     font-family: 'Segoe UI', sans-serif;
     list-style-type: none;

 }

 .wrapper {
     margin-top: 15px;
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;

 }

 .iconUrl {
     font-size: 30px;
     margin-right: 5px;
     margin-left: 15px;


 }

 .categories {
     margin-bottom: 8px;
     font-size: 27px;
 }

 .container {
     display: flex;
     align-items: center;
     margin-top: auto;
 }

 .iconBlue {
     font-size: 45px;
     color: #1DA1F2;
     margin: 55px;



 }

 .selectPage {
    margin-top: 15px;
     font-size: 40px;
     color: #1DA1F2;
 }

 li {
     margin-bottom: 25px;
     box-sizing: border-box;
     border: solid #1DA1F2 1px;
     border-radius: 100px;
    
 }

